<table>
    @if (expenses == null)
    {
        <tr>No expenses found.</tr>
    }
    else
    {
        foreach (var expense in expenses)
        {
            <tr>
                <td style="border: 1px solid black">@expense.Name</td>
                <td style="border: 1px solid black">@expense.Comment</td>
            </tr>
        }
    }
</table>

@code {
    [Parameter]
    public ExpenseViewModel[] expenses { get; set; }
}
