<table>
    <tr>
        <td style="border: 1px solid black">Column 1</td>
        <td style="border: 1px solid black">Column 2</td>
        <td style="border: 1px solid black">Column 3</td>
    </tr>
    <tr>
        <td style="border: 1px solid black">Column 1</td>
        <td style="border: 1px solid black">Column 2</td>
        <td style="border: 1px solid black">Column 3</td>
    </tr>
    <tr>
        <td style="border: 1px solid black">Column 1</td>
        <td style="border: 1px solid black">Column 2</td>
        <td style="border: 1px solid black">Column 3</td>
    </tr>
</table>

@code {

}
